* { 
    background-color: #FFFFFF;
}

.link {
    color: black;
    background-color: #C8553D;
    border-width: 10rem;
}

button { 
    color: black;
    background-color: #C8553D
}

.header { 
    display: flex;
    justify-content: right;
}